<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://bootswatch.com/5/vapor/bootstrap.min.css">
    <title>Now Playing | FakeCee</title>
    <script src="app.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body ng-app="myApp" ng-controller="myCtrl">
  <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">FakeCee</a>
      </div>
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#nav-items" aria-controls="nav-items" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div id="nav-items" class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto">
          <li class="nav-item"><a class="nav-link" href="home.html">Home</a></li>
          <li class="nav-item"><a class="nav-link active" href="now.html">Now Playing</a></li>
          <li class="nav-item"><a class="nav-link" href="soon.html">Coming Soon</a></li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link" href="#">Log Out</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
		<div id="movies" class="row">
			<div ng-repeat="x in movies">
				<div class="col-md-3 col-xs-6">
					<div class="panel panel-default text-center">
						<div class="panel-body">
							<img ng-src="http://image.tmdb.org/t/p/w185/{{x.poster_path}}" >
							<p class="mytext" >{{x.title}}</p>
							<p class="mytext" >Release Date : {{x.release_date}}</p>
							<input type="button" value="Details"  class="btn btn-default btn-lg btn-block" ng-click="detail(x.id)">
						</div>
					</div>	
				</div>
			</div>
		</div>
	</div>
</body>
</html>